#fi1 {
    width: 600px;
    padding: 80px;
    margin-top: 150px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(135deg,#75c7ff, #759eff, #ffbf75) 3;
    background-color:   rgb(245, 241, 241);
}

button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    background-color: #75c7ff;
    border-radius: 1em;
    border-color: #75c7ff;
    border-style: none;
    margin: 10px;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(135deg,#75c7ff, #759eff, #ffbf75) 3;
    background-color:   rgb(245, 241, 241)
}

.ul, li, a {
    margin-top: 20px;
    color: #000;
  }